<h2>Reservation for <%= @reservation.name %>: </h2>
<p>Date: <%= @reservation.date.strftime('%A %B %e, %Y ') %> at 
<%= @reservation.timeslot %>:00
</p>
<p>
Table for <%= @reservation.table.seats %>
</p>

